/*
 * This file is part of Canviz. See http://www.canviz.org/
 * $Id: styles_inner.css 415 2013-07-25 02:35:51Z ryandesign.com $
 */

body {
  padding: 1em;
}

pre {
  border: 1px solid black;
  padding: 1em;
  background: #eeeeee;
}

.graph {
  border: 1px solid black;
  padding: 1em;
}
